<!doctype html>
<html lang="en">

<head>
  <!--<link rel="icon" href="../../../../favicon.ico">-->

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- Custom styles for this page -->
  <link href="/stylesheets/navbar.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <!--Code for to navbar-->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <h class="navbar-brand">{{title}}</h>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/student">Home</a>
        </li>
      </ul>
      <a class="btn btn-outline-danger ml-2" href="/logout" role="button">Logout</a>
    </div>
  </nav>

  <div class="media-heading">
    <div id="course-info" data-section="{{sectionId}}" />
    {{courseName}}-{{sectionNumber}}
  </div>

  <div id="accordion">
    <div id="topic-list" />
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="/javascripts/sTopicList.js"></script>
</body>

</html>